<%- include('partials/header', {page: page}) %>


    <div class="container mt-5 w-25 text-center border border-dark border-3">
        <h3 class='mt-5 fw-bold'>Buy Stock</h3>
        <form action='/buy' method='POST' class='mt-5'>

            <div class="row mb-2">
                <label for="ticker" class="col-sm-4 col-form-label fw-bold">Ticker:</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" placeholder="eg. AAPL" id='ticker' name='ticker' required>
                </div>
            </div>

            <div class="row mb-2">
                <label for="quantity" class="col-sm-4 col-form-label fw-bold">Quantity:</label>
                <div class="col-sm-8">
                    <input type="number" class="form-control" placeholder="eg. 10" name='quantity' id='quantity' min=0
                        required>
                </div>
            </div>

            <div class="row mb-2">
                <label for="price" class="col-sm-4 col-form-label fw-bold">Buy Price:</label>
                <div class='col-sm-8'>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">$</div>
                        </div>
                        <input type="number" class="form-control" name='price' id='price' min=0 step=0.01 required>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary mt-2 mb-5">Submit</button>
        </form>
    </div>

    <%- include('partials/footer') %>