<%- include('partials/header', {page: page}) %>


    <div class="container mt-5 w-25 login text-center">
        <h1 class='mt-5'>Buy Stock</h1>
        <form action='/buy' method='POST' class='mt-5'>
            <div>
                <input type="text" class="form-control" placeholder="Ticker" name='ticker'>
            </div>
            <div class="mt-2">
                <input type="number" class="form-control" placeholder="Quantity" name='quantity' min=0>
            </div>
            <div class="input-group mt-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">$</div>
                </div>
                <input type="number" class="form-control" placeholder="Buy Price" name='price' min=0 step=0.01>
            </div>
            <button type="submit" class="btn btn-primary mt-2">Submit</button>
        </form>
    </div>
    </body>

    </html>