<%- include('partials/header', {page: 'test' }) %>

    <div class="container">
        <div class='container p-4 mt-4 px-5 text-center bg-light'>

            <h2 class='fw-light'>Overall Performance</h2>
            <div class='row'>
                <div class="col-2 row row-cols-1 align-items-center bg-light">
                    <div class="col">
                        <h3 class='fw-lighter'>Return</h3>
                    </div>
                    <div class="col">
                        <h3 class='fw-lighter'>Cost</h3>
                    </div>
                </div>
                <div class="graph col-8">


                    <div id="return">
                    </div>
                    <div id="cost">
                    </div>

                    <div id='returnBlocker' class='bg-light'></div>
                    <div id='costBlocker' class='bg-light'></div>





                </div>
                <div class="col-2 row row-cols-1 align-items-center bg-light">
                    <div class="col">
                        <h3 class='fw-lighter'>
                            <%- values[0]%>
                        </h3>
                    </div>
                    <div class="col">
                        <h3 class='fw-lighter'>
                            <%- values[1]%>
                        </h3>
                    </div>
                </div>
                <div>
                    <h5 class='fw-light'>Current Yield</h5>

                    </h3>
                </div>
            </div>


        </div>
    </div>

    <script type='text/javascript' src='test.js' return=''></script>


    </html>