.graph{
    position: relative;

}
#return {
    max-width: 5rem;
    height: 4rem;
    width: 1rem;
    background-color: rgba(75, 192, 192, 0.5);
    margin: 1rem;
    direction: ltr;
    transform-origin: left;
    transition-property: transform;
    transition-duration: 2s;
    position: relative;
    z-index: 0;
}
#cost {
    height: 4rem;
    width: 1rem;
    background-color: rgba(255, 99, 132, 0.5);
    margin: 1rem;
    direction: ltr;
    transform-origin: left;
    transition-property: transform;
    transition-duration: 2s;
    position: relative;
    z-index: 0;
}

#returnBlocker {
    position: absolute;
    z-index: 1;
    height:4rem;
    width: 2rem;
    top: 1rem;
    right: 0rem;
}
#costBlocker {
    position: absolute;
    z-index: 1;
    height:4rem;
    width: 4rem;
    top: 6rem;
    right: 0rem;
}

.col-2 {
    position: relative;
    z-index: 1;
}


.transformed-state {
    transform: scaleX(48);
}

/* //based off rems to remove  */